<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-page">

<div class="form-container">
    <h2>Register</h2>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('register') }}">
        <label for="">Nama:</label><input type="text" name="nama" placeholder="Nama" required>
        <label for="">Alamat:</label><input type="text" name="alamat" placeholder="Alamat" required>
        <label for="">Email:</label><input type="email" name="email" placeholder="Email" required>
        <label for="">No HP:</label><input type="text" name="phone" placeholder="No HP" required>
        <label for="">Password:</label><input type="password" name="password" placeholder="Password (min 6 karakter)" required minlength="6">
        <button type="submit">Daftar</button>
    </form>
</div>

</body>
</html>
