<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selamat Datang di Toko Bunga Indah</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="welcome-container">
        <div class="card">
        <h1>🌸 BungaKu 🌸</h1>
        
        {# Cek apakah pengguna sudah login atau belum #}
        {% if 'id_user' in session %}
            <p>Halo, {{ session.nama }}! Selamat datang kembali.</p>
            <a href="{{ url_for('home_buyer') }}" class="btn-welcome btn-primary">Lanjutkan Belanja</a>
        {% else %}
            <p>Temukan bunga yang sempurna untuk setiap momen spesial Anda.</p>
            <a href="{{ url_for('login') }}" class="btn-welcome-btn-primary">Login</a>
            <a href="{{ url_for('register') }}" class="btn-welcome-btn-secondary">Register</a>
        {% endif %}
    </div>
    </div>

</body>
</html>